In [2]:
#pip3 install nltk

In [4]:
import nltk
nltk.download('punkt')
import pandas as pd

[nltk_data] Downloading package punkt to /Users/pushpesh/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [8]:
fake = pd.read_csv("Fake.csv")
genuine = pd.read_csv("True.csv")
#checking the absence of null obhjects
display(fake.info())
display(genuine.info())
#if null you need to preprocess

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

In [9]:
display(fake.head())
display(genuine.head())

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

PREPROCESSES

In [10]:
display(fake.subject.value_counts())
print('\n')
display(genuine.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

politicsNews    11272
worldnews       10145
Name: subject, dtype: int64

In [11]:
fake['target'] = 0
genuine['target'] = 1

In [12]:
display(fake.head())
display(genuine.head())

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [14]:
data = pd.concat([fake, genuine], axis=0) #0 is rows and 1 is for columns (axis attributes)
data = data.reset_index(drop=True) #makeing the reset index
data=data.drop(['subject','date','title'], axis=1) #dropping unnecessaries columns

In [15]:
print(data.columns)
print(data)

Index(['text', 'target'], dtype='object')
                                                    text  target
0      Donald Trump just couldn t wish all Americans ...       0
1      House Intelligence Committee Chairman Devin Nu...       0
2      On Friday, it was revealed that former Milwauk...       0
3      On Christmas day, Donald Trump announced that ...       0
4      Pope Francis used his annual Christmas Day mes...       0
...                                                  ...     ...
44893  BRUSSELS (Reuters) - NATO allies on Tuesday we...       1
44894  LONDON (Reuters) - LexisNexis, a provider of l...       1
44895  MINSK (Reuters) - In the shadow of disused Sov...       1
44896  MOSCOW (Reuters) - Vatican Secretary of State ...       1
44897  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...       1

[44898 rows x 2 columns]

TOKENIZATION

In [17]:
from nltk.tokenize import word_tokenize 
data['text']=data['text'].apply(word_tokenize)
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

STEMMING

In [18]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english", ignore_stopwords=False)

In [19]:
def stem_it(text):
    return [porter.stem(word) for word in text]
data['text']=data['text'].apply(stem_it)

In [20]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

STOP-WORD REMOVAL

In [23]:
#import nltk
#from nltk.corpus import stopwords
#nltk.download('stopwords')
#print(stopwords.words('english'))

def stop_it(t):
    dt = [word for word in t if len(word)>2] 
    return dt

In [24]:
data['text']=data['text'].apply(stop_it)

In [25]:
print(data['text'].head(10))

0    [donald, trump, just, couldn, wish, all, ameri...
1    [hous, intellig, committe, chairman, devin, nu...
2    [friday, was, reveal, that, former, milwauke, ...
3    [christma, day, donald, trump, announc, that, ...
4    [pope, franci, use, his, annual, christma, day...
5    [the, number, case, cop, brutal, and, kill, pe...
6    [donald, trump, spent, good, portion, his, day...
7    [the, wake, yet, anoth, court, decis, that, de...
8    [mani, peopl, have, rais, the, alarm, regard, ...
9    [just, when, you, might, have, thought, get, b...
Name: text, dtype: object

In [26]:
data['text']=data['text'].apply(' '.join)

SPLITTING THE DATA

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data['text'], data['target'], test_size=0.25)
display(X_train.head())
print('\n')
display(y_train.head())

13411    the dem convent has been crazi event far meryl...
41461    ankara reuter turkey foreign ministri monday s...
12133
3964     georgia republican governor nathan deal stir h...
30372    washington reuter donald trump comment tuesday...
Name: text, dtype: object

13411    0
41461    1
12133    0
3964     0
30372    1
Name: target, dtype: int64

VECTORIZATION

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer( max_df=0.7)
tfidf_train = my_tfidf.fit_transform(X_train)
tfidf_test = my_tfidf.transform(X_test)

In [31]:
print(tfidf_train)

  (0, 57585)	0.035292615572921224
  (0, 16019)	0.06801947531483998
  (0, 55271)	0.026511041358504798
  (0, 67790)	0.048142037333051294
  (0, 50064)	0.05619600086274292
  (0, 25807)	0.08559297842835721
  (0, 81519)	0.0752470819826782
  (0, 42038)	0.031868771261567
  (0, 48133)	0.05738893788435511
  (0, 49433)	0.06328983825857576
  (0, 18968)	0.04280588227991412
  (0, 80778)	0.029378413275210454
  (0, 84655)	0.054387195425634166
  (0, 80904)	0.03797251478621058
  (0, 73640)	0.08245514415041291
  (0, 81629)	0.06521729263320064
  (0, 88078)	0.0287501310289471
  (0, 17011)	0.02271002113331778
  (0, 26565)	0.03958480996411112
  (0, 63430)	0.059799178683540295
  (0, 80897)	0.04087097417213451
  (0, 24204)	0.04484751099936306
  (0, 80859)	0.04845987128398724
  (0, 39601)	0.03461317697814334
  (0, 46580)	0.11417890783279736
  :	:
  (33672, 48045)	0.021636671751836492
  (33672, 9329)	0.08959089558770747
  (33672, 46589)	0.06678102036129005
  (33672, 88119)	0.019069418560709615
  (33672, 54517)	0.047392878933278565
  (33672, 74433)	0.024272099374044558
  (33672, 55570)	0.058342291236719496
  (33672, 81726)	0.06413014841430834
  (33672, 8940)	0.03582287310541959
  (33672, 8038)	0.018009826591183997
  (33672, 22299)	0.04481711402080401
  (33672, 83556)	0.06696186475332926
  (33672, 69272)	0.07075360062051732
  (33672, 55271)	0.018058173851945355
  (33672, 18968)	0.058315028341851045
  (33672, 17011)	0.04640725020127256
  (33672, 80859)	0.016504383374748178
  (33672, 56910)	0.02130801961087235
  (33672, 87728)	0.02368562331030785
  (33672, 58870)	0.02827618336616723
  (33672, 10592)	0.030877301064360967
  (33672, 37681)	0.01410515713735734
  (33672, 78594)	0.022558181264432767
  (33672, 13413)	0.017459214726020942
  (33672, 37538)	0.04251876623241918

LOGISTIC REGRESSION

In [32]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [33]:
model_1 = LogisticRegression(max_iter=900)
model_1.fit(tfidf_train, y_train)
pred_1 = model_1.predict(tfidf_test)
cr1    = accuracy_score(y_test,pred_1)
print(cr1*100)

98.79732739420936

PASSIVE AGRESSIVE CLASSIFIER

In [34]:
from sklearn.linear_model import PassiveAggressiveClassifier

model = PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train, y_train)

PassiveAggressiveClassifier(max_iter=50)

In [35]:
y_pred = model.predict(tfidf_test)
accscore = accuracy_score(y_test, y_pred)
print('The accuracy of prediction is ',accscore*100)

The accuracy of prediction is  99.61692650334075